# London Bike Sharing

## 1. Import Libraries

In [3]:
import pandas as pd

### 1.1 Read Dataset

In [4]:
# read dataset
bikes = pd.read_csv("./datasets/london_merged.csv", sep=",")

## 2. Data Analysis

In [5]:
# check dataset
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

Let's change the column names to make it easier to understand each feature.

In [6]:
# Changing column name

new_bikes_columns = {
    "timestamp": "date",
    "cnt": "count",
    "t1": "temp_real_C",
    "t2": "temp_feels_like_C",
    "hum": "humidity_percent",
    "wind_speed": "wind_speed_kph",
    "weather_code": "weather",
    "is_holiday": "is_holiday",
    "is_weekend": "is_weekend",
    "season": "season",
}

# Renaming the columns

bikes.rename(new_bikes_columns, axis=1, inplace=True)

In [7]:
# check dataset
bikes.head()

,date,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [8]:
# Explore the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               17414 non-null  object
 1   count              17414 non-null  int64
 2   temp_real_C        17414 non-null  float64
 3   temp_feels_like_C  17414 non-null  float64
 4   humidity_percent   17414 non-null  float64
 5   wind_speed_kph     17414 non-null  float64
 6   weather            17414 non-null  float64
 7   is_holiday         17414 non-null  float64
 8   is_weekend         17414 non-null  float64
 9   season             17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [9]:
# Check duplicates
bikes.duplicated().sum()

np.int64(0)

There are no duplicate values.

In [10]:
# Check NaN values
bikes.isna().sum()

date                 0
count                0
temp_real_C          0
temp_feels_like_C    0
humidity_percent     0
wind_speed_kph       0
weather              0
is_holiday           0
is_weekend           0
season               0
dtype: int64

There are no NaN values.

As seen in the project description, the variables "season" and "weather" have subcategories within them. Thus, let's check if all the values are correct.

In [11]:
# Check possible values

bike_columns = ["season", "weather"]

for column_name in bike_columns:
    print(f"Values for {column_name}: ")
    print(bikes[column_name].value_counts().sort_index(), "\n")

Values for season:
season
0.0    4394
1.0    4387
2.0    4303
3.0    4330
Name: count, dtype: int64

Values for weather:
weather
1.0     6150
2.0     4034
3.0     3551
4.0     1464
7.0     2141
10.0      14
26.0      60
Name: count, dtype: int64

As we can see, in the dataset, there are no values equal to "94 - Freezing Fog" in "weather"

### 2.1. Exploratory Data Analysis (EDA)

- **date**

In [12]:
# Transforme to DateTime
bikes["date"] = pd.to_datetime(bikes["date"])

- **humidity_percent**

In [13]:
# Changing the humidity values to percentage
bikes["humidity_percent"] = bikes["humidity_percent"] / 100

- **weather, is_holiday,	is_weekend,	season**

In [14]:
# Change the dtype

columns_to_transform = ["weather", "is_holiday", "is_weekend", "season"]

for column_name in columns_to_transform:
    bikes[column_name] = bikes[column_name].astype(int)

In [15]:
# Creating season dictionary
season_dict = {0: "spring", 1: "summer", 2: "fall", 3: "winter"}

# Creating weather dictionary
weather_dict = {
    1: "Clear",
    2: "Scattered clouds",
    3: "Broken clouds",
    4: "Cloudy",
    7: "Rain",
    10: "Rain with thunderstorm",
    26: "Snowfall",
    94: "Freezing fog",
}

# Copying the original dataframe to create categories and export to Tableau
bikes_copy = bikes.copy()

# Creating new columns to address the values from the category descriptions
bikes_copy["season"] = bikes["season"].map(season_dict)
bikes_copy["weather"] = bikes["weather"].map(weather_dict)

In [16]:
# Checking dataframe
bikes.head()

,date,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3,0,1,3
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1,0,1,3
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1,0,1,3
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1,0,1,3
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1,0,1,3

In [17]:
# Checking dataframe
bikes_copy.head()

,date,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0,1,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0,1,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0,1,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0,1,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0,1,winter

## 3. Export data to Excel

In [18]:
# Export dataframe to excel
bikes_copy.to_excel("./datasets/london_bikes_final.xlsx", sheet_name="data")